<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5enPsJPjJPJ9cBgdxeURNpP227CZ9RE0</string>
	<key>GCM_SENDER_ID</key>
	<string>47125526230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.vidyagram</string>
	<key>PROJECT_ID</key>
	<string>vidyagram-efb3e</string>
	<key>STORAGE_BUCKET</key>
	<string>vidyagram-efb3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47125526230:ios:c23d3effc5791a5bdf7b77</string>
	<key>DATABASE_URL</key>
	<string>https://vidyagram-efb3e-default-rtdb.firebaseio.com</string>
</dict>
</plist>